node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.git
.gitignore
.vscode
.idea
.env
.env.local
.env.*.local
tests
docs
coverage
.eslintrc.json
.prettierrc
README.md
LICENSE
.github
*.md
.gitlab-ci.yml
